<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="3">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}">
    <title>Mario</title>
</head>
<body>
    <nav class="topnav">
        <ul>
            <a class="link" href="#cart">New order</a>
            <a class="logo" href="/">Home</a>
            <a class="link" href="#menu">Orders</a>
        </ul>
    </nav>
    <div class="text">
        <br><br><br>
        <p class="subtextL">
            {% for i in range(0, len(items) - 1) %}
            {% item = items[i] %}
             {{ item['order'] }}<br>
             {% for pizza in item['items'] %}
                {{ pizza }}<br>
             {% endfor %}
            {% endfor %}
        </p>
    </div>
</body>
</html>