<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/style2.css')}}">
    <title>Mario</title>
</head>
<body>
    <nav class="topnav">
        <ul>
          <a class = "link" href="#cart">New order</a>
          <a class = "logo" href="/">Home</a>
          <a class = "link" href="#menu">Orders</a>
        </ul>
    </nav>   
    <div class="text">
        <br><br><br>
        <p class="subtextL">{{items}}</p>
      </div>
</body>