.topnav {
    background-color: #1d1d1de1;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; 
    transition: top 0.3s;
}

  .topnav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  .logo {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .link {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
 
  .topnav a:hover {
    background-color: #e4000f;
    color: black;
  }
  
  .topnav a.active {
    background-color: #e4000f;
    color: white;
  }

  body {
    background-image: url('istockphoto-512624640-612x612.jpg');
    background-size: fill;
    background-color: rgba(13, 18, 82, 0.550);
    background-blend-mode: multiply;
  }

  .image-container-logo{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 100px;
  }

  .logo-image{
    align-self: center;
    background-color: #ffffff00;
    /* width: 450px;
    height: 350px; */
  }

  .logotext{
    font-size: 75px;
    color: white;
    text-align: center;
    font-weight: bold;
  }

  .subtitle{
    margin-top: 150px;
    font-size: 55px;
    color: white;
    text-align: center;
    font-weight: bold;

  }

  .subtextC{
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-left:  200px;
    margin-right: 200px;
    margin-bottom: 10px;
  }

  .subtextL{
    font-size: 30px;
    color: white;
    text-align: left;
    font-weight: bold;
    margin-left:  100px;
    margin-right: 950px;
    margin-bottom: 50px;
  }

  .subtextR{
    font-size: 30px;
    color: white;
    text-align: right;
    font-weight: bold;
    margin-right: 180px;
    margin-bottom: 50px;
    margin-left: 45px;
  }
  
  .aboutus{
    border-radius: 50px;
    background-color: rgb(243, 201, 150);
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 100px;
  }

  .image{
    align-self: center;
    background-color: #ffffff00;
    width: 550px;
    height: 350px;
    margin-top: 0px;
    }

  .imgleft{
    align-self: center;
    background-color: #ffffff00;
    width: 450px;
    height: 400px;;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 30px;
    }

  .image-containerL{
    display: flex;
    justify-content: left;
    align-items: left;
  }

  .image-container-menu{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 50px;
    }

  .info{
    border-radius: 30px;
    background-color: rgb(131, 131, 131);
    }

  .footerImages{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    margin-top: 50px;
  }

  .footerImages a{
    margin-left: 20px;
  }

  .text-and-image-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
  }

  .text {
    flex: 1;  
  }

  .copy{
    text-align: center;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.item {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    width: 420px;
    height: 350px;
    margin-top: 69px ;
    margin-left: 30px;
    margin-right: 30px;
}

.item img {
    max-width: 40%;
    height: auto;
}

.item h2 {
    font-size: 24px;
    margin: 10px 0;
}

.item p {
    font-size: 20px;
    margin: 10px;
} 

.cart-button {
  background-color: #a03219;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cart-button:hover {
  background-color: #f8542b;
}
.body {
  margin-top: 70px;
}
.logo-image img {
  width: 110px; 
  height: 90px;
  position: absolute;
    left: 0;
    top: 5px;
}


