.topnav {
    background-color: #1d1d1de1;
    overflow: hidden;
  } 

  .topnav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  .logo {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .link {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
 
  .topnav a:hover {
    background-color: #e4000f;
    color: black;
  }
  
  .topnav a.active {
    background-color: #e4000f;
    color: white;
  }

  body {
    background-image: url('istockphoto-512624640-612x612.jpg');
    background-size: fill;
    background-color: rgba(13, 18, 82, 0.550);
    background-blend-mode: multiply;
  }

  .image-container-logo{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 100px;
  }

  .logo-image{
    align-self: center;
    background-color: #ffffff00;
    width: 350px;
    height: 350px;
  }

  .logotext{
    font-size: 75px;
    color: white;
    text-align: center;
    font-weight: bold;
  }

  .subtitle{
    margin-top: 150px;
    font-size: 55px;
    color: white;
    text-align: center;
    font-weight: bold;

  }

  .subtextC{
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-left:  200px;
    margin-right: 200px;
    margin-bottom: 50px;
  }

  .subtextL{
    font-size: 30px;
    color: white;
    text-align: left;
    font-weight: bold;
    margin-left:  100px;
    margin-right: 950px;
    margin-bottom: 50px;
  }

  .subtextR{
    font-size: 30px;
    color: white;
    text-align: right;
    font-weight: bold;
    margin-left:  950px;
    margin-right: 180px;
    margin-bottom: 50px;
  }
  
  .aboutus{
  background-color: rgb(243, 201, 150);
  margin-left: 65px;
  margin-right: 65px;
  }

  .chef{
    background-color: rgb(255, 203, 126);
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 100px;
    }