<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Mario and Luigi</title>
</head>
<body class="body">
    <nav class="topnav">
        <ul>
            <li class="logo-image"><img src="./static/images/Screenshot_2023-11-02_115923-removebg-preview_1.png" alt="Logo"></li>
            <a class = "link" href="menu">Menu</a>
            <a class = "link" href="cart.html">Cart</a>
            <a class = "logo" href="/">Mario and Luigi</a>
            <a class = "link" href="#contact">Contact</a>
            <a class = "link" href="#new">New</a> 
        </ul>
    </nav>
    <h1 class="logotext">Cart</h1>
    <div class="">

        <div class="cart">
            <h1>Your Shopping Cart</h1>
            <ul>
                {% for item in cart_items %}
                    <li>{{ item.name }} - ${{ item.price }}</li>
                {% endfor %}
            </ul>
            <p class="price">Total Price: ${{ total_price }}</p>
            <ul>
                <a href="menu">Back to Shopping</a>
            </ul>
            
            <h2>Checkout</h2>
            <form method="POST" action="/checkout">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <br>
        
                <label for="address">Address:</label>
                <input type="text" id="address" name="address" required>
                <br>
        
                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" required>
                <br>
        
                <button type="submit">Complete Purchase</button>
            </form>
        </div>
</body>
</html>
