<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Mario and Luigi</title>
</head>
<body class="body">
    <nav class="topnav">
        <ul>
          <li class="logo-image"><img src="./static/Screenshot_2023-11-02_115923-removebg-preview_1.png" alt="Logo" href="Index.html"></li>
          <a class = "link" href="menu">Menu</a>
          <a class = "link" href="cart">Cart</a>
          <a class = "logo" href="/">Mario and Luigi</a>
          <a class = "link" href="#contact">Contact</a>
          <a class = "link" href="#new">New</a>  
        </ul>
    </nav>
    <div>
        <h1 class="logotext"><br>Mario and Luigi <br> Pizza</h1>
        <div class="image-container-logo">
            <img class="logo-image" src="./static/Screenshot_2023-11-02_115923-removebg-preview_1.png">
        </div>
    </div>
    <div class="aboutus">
        <p class="subtitle">About us</p>
        <div class="text-and-image-container">
          <div class="image-container">
            <img class="imgleft" src="./static/mario_luigi-removebg-preview.png">
          </div>
          <div class="text">
            <p class="subtextR">At Mario and Luigi Pizza, we believe that great food should be a celebration of flavors and a warm, welcoming atmosphere. Our story begins with two brothers, Mario and Luigi, who hail from the charming Italian village of Napoli. They brought their family's treasured recipes and love for pizza to this vibrant city, aiming to share a slice of their culinary heritage.</p>
          </div>
        </div>
      </div>
    <div class="aboutus">
        <p class="subtitle">Our Chef</p>
        <div class="text-and-image-container">
            <div class="text">
                <p class="subtextR">Luigi's culinary prowess is nothing short of extraordinary. With a chef's hat perched confidently atop his head, he wields his spatula and whisk with the grace of an artist. Luigi's skill in the kitchen is like a symphony of flavors, harmoniously blending traditional Italian techniques with a creative twist that's all his own.</p>
            </div>
            <div class="image-container">
              <img class="imgleft" src="./static/mario_luigi-removebg-preview.png">
            </div>
        </div>
      </div>
    <div class="info">
        <p class="subtitle">Info</p>
        <p class="subtextC">Follow us on</p>
        <ul class="footerImages">
            <a href="https://www.facebook.com/"><img src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Facebook_svg-128.png" alt=""></a>
            <a href="https://www.instagram.com/"><img src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Instagram_svg-128.png" alt=""></a>
            <a href="https://www.youtube.com/"><img src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Youtube3_svg-128.png" alt=""></a>
            <a href="https://www.reddit.com/"><img src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Reddit2_svg-128.png" alt=""></a>
            <a href="https://web.whatsapp.com/"><img src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Whatsapp_svg-128.png" alt=""></a>
        </ul>
        <p class="copy">&copy; 2023 Your Restaurant. All rights reserved.</p>
    </div>
</body>
</html>
