<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Mario and Luigi</title>
</head>
<body class="body">
    <nav class="topnav">
        <ul>
            <li class="logo-image"><img src="./static/images/Screenshot_2023-11-02_115923-removebg-preview_1.png" alt="Logo"></li>
            <a class = "link" href="menu">Menu</a>
            <a class = "link" href="cart">Cart</a>
            <a class = "logo" href="/">Mario and Luigi</a>
            <a class = "link" href="#contact">Contact</a>
            <a class = "link" href="#new">New</a> 
        </ul>
    </nav>

    <div class="menu">
        <div class="item">
            <img src="./static/images/Pepperoni.jpg" class="pepperoni" alt="Lasagna">
            <h2>Power-Up Pepperoni Pizza</h2>
            <p>Classic pepperoni pizza with a spicy kick!</p>
            <p>9.99$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Power-Up Pepperoni Pizza">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/mushroom.jpg" class="margherita" alt="Seafood Mix">
            <h2>Mushroom Kingdom Margherita</h2>
            <p> Mushroom-Ranch combo </p>
            <p>9.99$</p> 
             <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Mushroom Kingdom Margherita">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/vegetarian_pizza.jpg" class="pepperoni" alt="Pasta">
            <h2>Yoshi's Veggie Delight</h2>
            <p>Stuffed pasta with truffle</p>
            <p>9.99$</p> 
             <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Yoshi's Veggie Delight">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/chips.jpg" alt="Chips">
            <h2>Koopa Troopa Calzone</h2>
            <p>Patatine fritte chips fatte in casa</p>
            <p>9.99$</p> 
             <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Koopa Troopa Calzone">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/lasagna.jpg" class="margherita" alt="Lasagna">
            <h2>Fire Flower Pizza</h2>
            <p>Lasagna with tomato sauce, beef and pork meat, besciamella, herbs and parmigiano</p>
            <p>9.99$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Fire Flower Pizza">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/fried_seafood.jpg"class="pepperoni" alt="Seafood Mix">
            <h2>Goomba's Garlic Pizza</h2>
            <p>Mix of fried seafood</p>
            <p>9.99$</p> 
             <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Goomba's Garlic Pizza">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/hawaiian_pizza.jpg" class="margherita" alt="Pasta">
            <h2>Star Power Hawaiian</h2>
            <p>Stuffed pasta with truffle</p>
            <p>9.99$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value=">Star Power Hawaiian">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/bbq_pizza.jpg" class="pepperoni" alt="Chips">
            <h2>Bowser's BBQ Meat Lovers</h2>
            <p>Patatine fritte chips fatte in casa</p>
            <p>9.99$</p> 
             <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Bowser's BBQ Meat Lovers">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/lasagna.jpg"class="margherita" alt="Lasagna">
            <h2>Boo's Four-Cheese Ghost Pizza</h2>
            <p>Lasagna with tomato sauce, beef and pork meat, besciamella, herbs and parmigiano</p>
            <p>9.99$</p> 
             <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Boo's Four-Cheese Ghost Pizza">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/fried_seafood.jpg" class="pepperoni" alt="Seafood Mix">
            <h2>Super Mario Supreme</h2>
            <p>Mix of fried seafood</p>
            <p>9.99$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Super Mario Supreme">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/pasta_pizza.jpg" class="truffle" alt="Pasta">
            <h2>Toadstool Truffle Delight</h2>
            <p>Stuffed pasta with truffle</p>
            <p>9.99$</p> 
             <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Toadstool Truffle Delight">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/peach_pizza.jpg" class="princess" alt="Peach">
            <h2>Princess Peach's Peachy Dessert Pizza</h2>
            <p>Patatine fritte chips fatte in casa</p>
            <p>9.99$</p> 
            <form method="POST" action="/cart">
            <input type="hidden" name="item_name" value="Princess Peach's Peachy Dessert Pizza">  
            <input type="hidden" name="item_price" value="9.99">
            <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/pisto_pizza.jpg" class="pepperoni" alt="Seafood Mix">
            <h2>Luigi's Green Machine Pesto Pizza</h2>
            <p>Mix of fried seafood</p>
            <p>9.99$</p> 
             <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Luigi's Green Machine Pesto Pizza">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/cheeseburger_pizza.jpg" class="pepperoni" alt="Pasta">
            <h2>Wario's Double Cheeseburger Pizza</h2>
            <p>Stuffed pasta with truffle</p>
            <p>9.99$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Wario's Double Cheeseburger Pizza">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/Donkey Kong Banana Nutella Calzone pizza.jpg"  alt="Chips">
            <h2>Donkey Kong Banana Nutella Calzone</h2>
            <p>Patatine fritte chips fatte in casa</p>
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Donkey Kong Banana Nutella Calzone">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
    </div>

</body>
</html>