<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Mario and Luigi</title>
</head>
<body class="body">
    <nav class="topnav">
        <ul>
            <li class="logo-image"><img src="./static/images/Screenshot_2023-11-02_115923-removebg-preview_1.png" alt="Logo"></li>
            <a class = "link" href="menu">Menu</a>
            <a class = "link" href="cart">Cart</a>
            <a class = "logo" href="/">Mario and Luigi</a>
            <a class = "link" href="#contact">Contact</a>
            <a class = "link" href="#new">New</a> 
        </ul>
    </nav>

    <nav class="subnav">
        <ul>
            <li><a class="subnav-link" id="pizza-link" href="javascript:void(0);" onclick="hideElements(1)">Pizzas</a></li>
            <li><a class="subnav-link" id="drinks-link" href="javascript:void(0);" onclick="hideElements(2)">Drinks</a></li>
            <li><a class="subnav-link" id="sides-link" href="javascript:void(0);" onclick="hideElements(3)">Sides</a></li>            
        </ul>
    </nav>

    <div class="menu" id="pizza">
        <div class="item">
            <img src="./static/images/Pepperoni.jpg" class="pepperoni" alt="Lasagna">
            <h2>Power-Up Pepperoni Pizza</h2>
            <p>Classic pepperoni pizza with a spicy kick!</p>
            <p>9.99$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Power-Up Pepperoni Pizza">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/mushroom.jpg" class="margherita" alt="Seafood Mix">
            <h2>Mushroom Kingdom Margherita</h2>
            <p> Mushroom-Ranch combo </p>
            <p>9.99$</p> 
             <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Mushroom Kingdom Margherita">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/vegetarian_pizza.jpg" class="pepperoni" alt="Pasta">
            <h2>Yoshi's Veggie Delight</h2>
            <p>Vegetarians Choice Healthy & Tasty too</p>
            <p>9.99$</p> 
             <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Yoshi's Veggie Delight">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/chips.jpg" alt="Chips">
            <h2>Koopa Troopa Calzone</h2>
            <p>Patatine fritte chips fatte in casa</p>
            <p>9.99$</p> 
             <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Koopa Troopa Calzone">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/lasagna.jpg" class="margherita" alt="Lasagna">
            <h2>Fire Flower Pizza</h2>
            <p>Lasagna with tomato sauce, beef and pork meat, besciamella, herbs and parmigiano</p>
            <p>9.99$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Fire Flower Pizza">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/hawaiian_pizza.jpg" class="margherita" alt="Pasta">
            <h2>Star Power Hawaiian</h2>
            <p> Combination of sweet and savory flavors with salty bacon and juicy</p>
            <p>9.99$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value=">Star Power Hawaiian">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/fried_seafood.jpg"class="pepperoni" alt="Seafood Mix">
            <h2>Goomba's Sea Pizza</h2>
            <p>Mix of fried seafood</p>
            <p>9.99$</p> 
             <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Goomba's Garlic Pizza">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/bbq_pizza.jpg" class="pepperoni" alt="Chips">
            <h2>Bowser's BBQ Meat Lovers</h2>
            <p>Grilled Meat Comes with BBQ Sauce</p>
            <p>9.99$</p> 
             <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Bowser's BBQ Meat Lovers">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/Donkey Kong Banana Nutella Calzone pizza.jpg"  alt="Chips">
            <h2>Donkey Kong Banana Nutella Calzone</h2>
            <p>Pizza with Banana Tops covered with Nutella African-Way</p>
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Donkey Kong Banana Nutella Calzone">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/supreme.jpg" class="margherita" alt="Seafood Mix">
            <h2>Super Mario Supreme</h2>
            <p>The ultimate Veggie Supreme Pizza with homemade pizza sauce</p>
            <p>9.99$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Super Mario Supreme">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/pasta_pizza.jpg" class="truffle" alt="Pasta">
            <h2>Toadstool Truffle Delight</h2>
            <p>Stuffed pasta with truffle</p>
            <p>9.99$</p> 
             <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Toadstool Truffle Delight">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/peach_pizza.jpg" class="princess" alt="Peach">
            <h2>Princess Peach's Peachy Dessert Pizza</h2>
            <p>Sweet Pizza; Taste as a Dessert</p>
            <p>9.99$</p> 
            <form method="POST" action="/cart">
            <input type="hidden" name="item_name" value="Princess Peach's Peachy Dessert Pizza">  
            <input type="hidden" name="item_price" value="9.99">
            <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/pesto.jpg" class="pepperoni" alt="Seafood Mix">
            <h2>Luigi's Green Machine Pesto Pizza</h2>
            <p>Chicken Basel-Pesto Pizza</p>
            <p>9.99$</p> 
             <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Luigi's Green Machine Pesto Pizza">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/cheeseburger_pizza.jpg" class="princess" alt="Pasta">
            <h2>Wario's Double Cheeseburger Pizza</h2>
            <p>Modren Pizza American-Italian Mix filled with pickles</p>
            <p>9.99$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Wario's Double Cheeseburger Pizza">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/4cheese.jpg"class="princess" alt="Lasagna">
            <h2>Boo's Four-Cheese Ghost Pizza</h2>
            <p>An exotic combination of white mozzarella cheese, Orange cheddar cheese, white cheese & jalapeno Cheese.</p>
            <p>9.99$</p> 
             <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Boo's Four-Cheese Ghost Pizza">
                <input type="hidden" name="item_price" value="9.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
    </div>

    <div class="menu" id="drinks">
        <div class="item">
            <img src="./static/images/redbull.jpg" alt="redbull">
            <h2>regular-redbull</h2>
            <p>0.25 liter redbull</p>
            <p>3.49$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="regular-redbull">
                <input type="hidden" name="item_price" value="3.49">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/cola.jpg" alt="cola">
            <h2>Coca-cola</h2>
            <p>0.33 liter Coca-cola</p>
            <p>2.49$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Coca-Cola">
                <input type="hidden" name="item_price" value="2.49">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/zero.jpg" alt="cola zero">
            <h2>Coca-cola</h2>
            <p>0.33 liter Coca-Cola Zero</p>
            <p>2.49$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Coca-Cola Zero">
                <input type="hidden" name="item_price" value="2.49">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/fanta.jpg" alt="fanta">
            <h2>Fanta</h2>
            <p>0.33 liter Fanta</p>
            <p>2.49$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Fanta">
                <input type="hidden" name="item_price" value="2.49">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/water.jpg" class="margherita" alt="Water">
            <h2>Water</h2>
            <p>0.5 liter Water</p>
            <p>1.5$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Water">
                <input type="hidden" name="item_price" value="1.5">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/lemonade.jpg" class="truffle" alt="lemonade">
            <h2>Lemonade</h2>
            <p>Fresh Lemonade Juice</p>
            <p>5$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="lemonade">
                <input type="hidden" name="item_price" value="5">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        
    </div>

    <div class="menu" id="sides">
        <div class="item">
            <img src="./static/images/chicken.jpg" class="party" alt="chicken">
            <h2>Chicken Party Box</h2>
            <p class="desc">Two delicious flavors of chicken bites. 6 pieces of spicy chicken, and 6 pieces of buffalo chicken. Served with Ranch and dynamite dips</p>
            <p>14.99$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Chicken Party Box">
                <input type="hidden" name="item_price" value="14.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/wings.jpg" class="princess" alt="chicken">
            <h2>Chicken Wings</h2>
            <p>Flavorful, oven-baked chicken wings, comes with ranch sauce</p>
            <p>8.49$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Chicken Wings">
                <input type="hidden" name="item_price" value="8.49">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/ques.jpg" class="princess" alt="chicken">
            <h2>Quesadilla</h2>
            <p>Grilled Chicken Blended with Cheese and Folded into Flour Tortilla</p>
            <p>6.49$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Chicken Wings">
                <input type="hidden" name="item_price" value="6.49">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/bites.jpg" class="princess" alt="chicken">
            <h2>Chicken Bites</h2>
            <p>Lightly breaded buffalo chicken breast come with ranch sauce</p>
            <p>8.49$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Chicken Bites">
                <input type="hidden" name="item_price" value="8.49">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
        <div class="item">
            <img src="./static/images/churros.jpg" class="princess" alt="Churros">
            <h2>Churros</h2>
            <p>Famous spanish churros sprinkled with sugar.
                Comes with the delicious chocolate dip</p>
            <p>4.49$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Chicken Bites">
                <input type="hidden" name="item_price" value="4.49">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>    
        <div class="item">
            <img src="./static/images/wedges.jpg" class="pepperoni" alt="chicken">
            <h2>Potato Wedges</h2>
            <p>Golden slices of potato infused with herbs</p>
            <p>2.99$</p> 
            <form method="POST" action="/cart">
                <input type="hidden" name="item_name" value="Chicken Bites">
                <input type="hidden" name="item_price" value="2.99">
                <button type="submit" class="cart-button">Add to Cart</button>
            </form>
        </div>
    </div>
        
    

</body>
<script>
    function hideElements(element) {
        console.log(element)
        if (element == 1) {
            document.getElementById("pizza").style.display = "";
            document.getElementById("drinks").style.display = "none";
            document.getElementById("sides").style.display = "none"; 
            
            document.getElementById("pizza-link").style.fontWeight = "bold";
            document.getElementById("drinks-link").style.fontWeight = "normal";
            document.getElementById("sides-link").style.fontWeight = "normal";
        }
        else if (element == 2) {
            document.getElementById("pizza").style.display = "none";
            document.getElementById("drinks").style.display = "";
            document.getElementById("sides").style.display = "none";      

            document.getElementById("pizza-link").style.fontWeight = "normal";
            document.getElementById("drinks-link").style.fontWeight = "bold";
            document.getElementById("sides-link").style.fontWeight = "normal";
        
        }
        else {
            document.getElementById("pizza").style.display = "none";
            document.getElementById("drinks").style.display = "none";
            document.getElementById("sides").style.display = ""; 

            document.getElementById("pizza-link").style.fontWeight = "normal";
            document.getElementById("drinks-link").style.fontWeight = "normal";
            document.getElementById("sides-link").style.fontWeight = "bold";
        }
    }
</script>
</html>